---
Checks: |
  -*
  bugprone-*
  -bugprone-easily-swappable-parameters
  cert-*
  clang-analyzer-*
  -clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling
  clang-diagnostic-*
  misc-*
  -misc-include-cleaner
  -misc-non-private-member-variables-in-classes
  performance-*
  portability-*
FormatStyle: file
...
